@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-color: #f1f1f1;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* Style tab links */
.tablink {
  /* background-color: #fff; */
  background-color: #f1f1f1;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  padding: 10px;
}

button {
    font-family: 'poppins', sans-serif;
    padding: 5px 4px;
}

.tablink:hover {
  color: rgba(91, 132, 177, 0.3);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
  width: 100%;
}

df-messenger {
   --df-messenger-bot-message: #878fac;
   --df-messenger-button-titlebar-color: #D59FFF;
   --df-messenger-chat-background-color: #fafafa;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #878fac;
   --df-messenger-user-message: #FC766A;
  }

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100vw;
    position: absolute;

}

h2 {
    font-weight: 600;
}
h3 {
    color:#3C8ADF;
    padding: 10px 0px;
    font-size: 50px;
}
p {
    color: #5B84B1;
    font-size: 30px;
}
.hero {
    padding: 10px 30px;
    margin: 10px 30px;
    z-index: 11;
}

#Home {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
#Home #Home-sub {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#btns button {
    background-color: #8C94D7;
    color: black;
    float: inherit ;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 10px 30px 10px;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    z-index: 100;
    box-shadow: rgba(91, 132, 177, 0.3);
}

#btns button:hover {
    background-color: rgba(91, 132, 177, 0.5) ;
}

.escape-img {
    padding: 20px;
    margin: 2px;
}

.player {
    text-align: center;
    
}

iframe {
    border-radius: 30px;
    padding: 1%;
    margin: 1%;
    
}

p.text{
    text-align: center;
    margin: 10% 0% 1% 0%;
    padding: 10px;
    font-size: 30px;
}
/* Float four columns side by side */
.Column {
  float: left;
  width: 15%;
  padding: 0 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 0 1 150px;
  margin: 5px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px 10px;
  min-width: 400px;
  text-align: center;
  background-color: #E6E6E6;
  border-radius: 20px;
}

.btns {
    background-color: #FC766A;
    border-radius: 10px;
}

.btns a p {
    color: #fff;
    font-size: 15px;
    float: inherit ;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    padding: 4px 6px;
    margin: 10px 4px 12px 4px;
    outline: none;
    cursor: pointer;
    z-index: 100;
    box-shadow: rgba(91, 132, 177, 0.3);
}
/* Responsive Screen */
@media screen and (max-width: 1366px) {
  h3 {
    color:#3C8ADF;
    padding: 10px 0px;
    font-size: 30px;
  }
  p {
    color: #5B84B1;
    font-size: 20px;
  }
  .escape-img {
    max-width: 600px;
    padding: 20px;
    margin: 2px;
  }
  #Home #Home-sub {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
}


/* Responsive columns 
@media screen and (max-width: 600px) {
  .Column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
*/

/*
#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}
*/